In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/Mumbai Result 2017_V_1.3 (1).xlsx")

In [ ]:
df.head()

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,SHS,4913.0
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,3089.0
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,2719.0
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,BJP,2584.0
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,283.0

In [ ]:
df['Rank'] = df.groupby('WARD')['VOTING'].rank(method='dense', ascending=False)
df['YEAR'] = '2017'

In [ ]:
df.tail(15)

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR
2480,170,F NORTHWARD,NaN,13.0,MOHAMMAD SALIM AHAMAD SHAIKH,OTHER,52.0,14.0,2017
2481,170,F NORTHWARD,NaN,14.0,MAHENDRA VITTHAL SHINDE,MNS,508.0,6.0,2017
2482,170,F NORTHWARD,NaN,15.0,SHINGARE BHIMRAO DNYANDEV,BBM,219.0,8.0,2017
2483,170,F NORTHWARD,NaN,16.0,NOTA,NOTA,123.0,10.0,2017
2484,171,F NORTHWARD,NaN,1.0,TANDEL SANVEE VIJAY,SS,7720.0,1.0,2017
2485,171,F NORTHWARD,NaN,2.0,KHAN AFSANA IMRAN,AIMIM,4428.0,2.0,2017
2486,171,F NORTHWARD,NaN,3.0,QURESHI AMREEN ASIF,NCP,2577.0,3.0,2017
2487,171,F NORTHWARD,NaN,4.0,Nikam Reshma Rajendra,IND,2547.0,4.0,2017
2488,171,F NORTHWARD,NaN,5.0,CHALKE CHETNA CHARUDATTA,BJP,1792.0,5.0,2017
2489,171,F NORTHWARD,NaN,6.0,THALI AMRUTA AVINASH,MNS,665.0,6.0,2017
2490,171,F NORTHWARD,NaN,7.0,SUJATA SUNIL PATIL,OTHER,80.0,11.0,2017
2491,171,F NORTHWARD,NaN,8.0,SUREKHA HARISCHANDRA PATIL,OTHER,144.0,10.0,2017
2492,171,F NORTHWARD,NaN,9.0,VAISHALI TUSHAR SHIRKE,OTHER,460.0,8.0,2017
2493,171,F NORTHWARD,NaN,10.0,NOTA,NOTA,301.0,9.0,2017
2494,171,F NORTHWARD,NaN,11.0,SHAIKH SAMEENA WAJID,INC,470.0,7.0,2017

In [ ]:
df.to_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/Mumbai_Result_2017.xlsx", index=False)

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/Mumbai_Result_2017.xlsx")

In [ ]:
df.head()

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,SHS,4913.0,1.0,2017
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,3089.0,2.0,2017
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,2719.0,3.0,2017
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,BJP,2584.0,4.0,2017
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,283.0,5.0,2017

In [ ]:
df['ward_votes'] = df.groupby('WARD')['VOTING'].transform('sum')
df.head()

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR,ward_votes
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,SHS,4913.0,1.0,2017,14445.0
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,3089.0,2.0,2017,14445.0
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,2719.0,3.0,2017,14445.0
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,BJP,2584.0,4.0,2017,14445.0
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,283.0,5.0,2017,14445.0

In [ ]:
df['Percentage_Votes'] = (df['VOTING'] / df['ward_votes']) * 100
df.head()

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,SHS,4913.0,1.0,2017,14445.0,34.011769
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,3089.0,2.0,2017,14445.0,21.384562
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,2719.0,3.0,2017,14445.0,18.823122
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,BJP,2584.0,4.0,2017,14445.0,17.888543
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,283.0,5.0,2017,14445.0,1.959155

In [ ]:
df_sorted = df.sort_values(['WARD', 'VOTING'], ascending=[True, False])
df_sorted

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,SHS,4913.0,1.0,2017,14445.0,34.011769
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,3089.0,2.0,2017,14445.0,21.384562
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,2719.0,3.0,2017,14445.0,18.823122
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,BJP,2584.0,4.0,2017,14445.0,17.888543
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,283.0,5.0,2017,14445.0,1.959155
...,...,...,...,...,...,...,...,...,...,...,...
2252,223(131),N WARD,50770.0,9.0,RAMESH LALJI RANGANI,IND,112.0,10.0,2017,32240.0,0.347395
2253,223(131),N WARD,50770.0,10.0,VINAY VIDHYADHAR ACHAREKAR,RPI(A),104.0,11.0,2017,32240.0,0.322581
2254,223(131),N WARD,50770.0,11.0,Anand Uttam Nirbhavane,BMP,78.0,12.0,2017,32240.0,0.241935
2255,223(131),N WARD,50770.0,12.0,BALKRISHNA SHRIDHAR MHASKAR,IND,48.0,13.0,2017,32240.0,0.148883
2256,223(131),N WARD,50770.0,13.0,Rajesh Roopnarayan Singh,IND,35.0,14.0,2017,32240.0,0.108561

In [ ]:
filtered_df = df_sorted.copy()
filtered_df

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,SHS,4913.0,1.0,2017,14445.0,34.011769
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,3089.0,2.0,2017,14445.0,21.384562
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,2719.0,3.0,2017,14445.0,18.823122
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,BJP,2584.0,4.0,2017,14445.0,17.888543
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,283.0,5.0,2017,14445.0,1.959155
...,...,...,...,...,...,...,...,...,...,...,...
2252,223(131),N WARD,50770.0,9.0,RAMESH LALJI RANGANI,IND,112.0,10.0,2017,32240.0,0.347395
2253,223(131),N WARD,50770.0,10.0,VINAY VIDHYADHAR ACHAREKAR,RPI(A),104.0,11.0,2017,32240.0,0.322581
2254,223(131),N WARD,50770.0,11.0,Anand Uttam Nirbhavane,BMP,78.0,12.0,2017,32240.0,0.241935
2255,223(131),N WARD,50770.0,12.0,BALKRISHNA SHRIDHAR MHASKAR,IND,48.0,13.0,2017,32240.0,0.148883
2256,223(131),N WARD,50770.0,13.0,Rajesh Roopnarayan Singh,IND,35.0,14.0,2017,32240.0,0.108561

In [ ]:
filtered_df['Vote_Difference'] = filtered_df.groupby('WARD')['VOTING'].diff()
filtered_df['Vote_Difference'] = filtered_df['Vote_Difference'].fillna(0)
filtered_df

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes,Vote_Difference
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,SHS,4913.0,1.0,2017,14445.0,34.011769,0.0
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,3089.0,2.0,2017,14445.0,21.384562,-1824.0
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,2719.0,3.0,2017,14445.0,18.823122,-370.0
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,BJP,2584.0,4.0,2017,14445.0,17.888543,-135.0
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,283.0,5.0,2017,14445.0,1.959155,-2301.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2252,223(131),N WARD,50770.0,9.0,RAMESH LALJI RANGANI,IND,112.0,10.0,2017,32240.0,0.347395,0.0
2253,223(131),N WARD,50770.0,10.0,VINAY VIDHYADHAR ACHAREKAR,RPI(A),104.0,11.0,2017,32240.0,0.322581,-8.0
2254,223(131),N WARD,50770.0,11.0,Anand Uttam Nirbhavane,BMP,78.0,12.0,2017,32240.0,0.241935,-26.0
2255,223(131),N WARD,50770.0,12.0,BALKRISHNA SHRIDHAR MHASKAR,IND,48.0,13.0,2017,32240.0,0.148883,-30.0
2256,223(131),N WARD,50770.0,13.0,Rajesh Roopnarayan Singh,IND,35.0,14.0,2017,32240.0,0.108561,-13.0

In [ ]:
filtered_df['Per_Votes_dif_f_winner'] = (filtered_df['Vote_Difference'] / filtered_df['ward_votes']) * 100
filtered_df.head()

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes,Vote_Difference,Per_Votes_dif_f_winner
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,SHS,4913.0,1.0,2017,14445.0,34.011769,0.0,0.000000
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,3089.0,2.0,2017,14445.0,21.384562,-1824.0,-12.627207
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,2719.0,3.0,2017,14445.0,18.823122,-370.0,-2.561440
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,BJP,2584.0,4.0,2017,14445.0,17.888543,-135.0,-0.934579
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,283.0,5.0,2017,14445.0,1.959155,-2301.0,-15.929387

In [ ]:
import numpy as np

In [ ]:
filtered_df['comapre_winning'] = np.where(filtered_df['Rank'] == 2, np.where(filtered_df['Per_Votes_dif_f_winner'] > -10, 1, 0), 0)

In [ ]:
filtered_df.sample(2)

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes,Vote_Difference,Per_Votes_dif_f_winner,comapre_winning
1224,148,M EAST WARD,25009.0,13.0,VAISHALIMILINDJAGTAP,RPI(A),49.0,14.0,2017,15527.0,0.315579,-5.0,-0.032202,0
1167,144,M EAST WARD,36924.0,6.0,SANGITA VISHNU DHASAL,BBM,570.0,6.0,2017,21603.0,2.638522,-405.0,-1.874740,0

In [ ]:
filtered_df.to_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/Mumbai_Result_2017.xlsx", index=False)

In [ ]:
filtered_df['comapre_winning'] = filtered_df.groupby('WARD')['comapre_winning'].transform(lambda x: x.iloc[1] if len(x) >= 2 else x.iloc[0])

In [ ]:
df=pd.read_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/Mumbai_Result_2017.xlsx")

In [ ]:
df['PARTY'] = df['PARTY'].replace('SS', 'SHS')

In [ ]:
df['bjp_second_shs_first'] = np.where((df['WARD'].isin(df.groupby('WARD').filter(lambda x: any((x['PARTY'] == 'SHS') & (x['Rank'] == 1)) and any((x['PARTY'] == 'BJP') & (x['Rank'] == 2)))['WARD'])), 'Yes', 'No')

In [ ]:
df['bjp_second_shs_first'].value_counts()

No     2063
Yes     432
Name: bjp_second_shs_first, dtype: int64

In [ ]:
df.groupby('WARD').filter(lambda x: any((x['PARTY'] == 'SHS') & (x['Rank'] == 1)) and any((x['PARTY'] == 'BJP') & (x['Rank'] == 2)))

,WARD,WARD OFFICE,TOTAL VOTER,SR.NO,CANIDATE NAME,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes,Vote_Difference,Per_Votes_dif_f_winner,comapre_winning,bjp_second_shs_first
45,4,R NORTH WARD,44888.0,1.0,SUJATA UDESH PATEKAR,SHS,11078.0,1.0,2017,23006,48.152656,0,0.000000,0,Yes
46,4,R NORTH WARD,44888.0,2.0,KAMLA PREMSINGH PUROHIT,BJP,6911.0,2.0,2017,23006,30.039990,-4167,-18.112666,0,Yes
47,4,R NORTH WARD,44888.0,3.0,SIDDHIDA SUDESH MORE,MNS,1414.0,3.0,2017,23006,6.146223,-5497,-23.893767,0,Yes
48,4,R NORTH WARD,44888.0,4.0,DARSHANA MILIND SAWANT,INC,1168.0,4.0,2017,23006,5.076936,-246,-1.069286,0,Yes
49,4,R NORTH WARD,44888.0,5.0,MAMTA RAMFER SHARMA,NCP,1079.0,5.0,2017,23006,4.690081,-89,-0.386856,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2452,225,A WARD,61341.0,6.0,ROHINI ANANT MARCHANDA,IND,744.0,5.0,2017,25619,2.904095,-421,-1.643312,0,Yes
2453,225,A WARD,61341.0,9.0,NOTA,NOTA,586.0,6.0,2017,25619,2.287365,-158,-0.616730,0,Yes
2454,225,A WARD,61341.0,4.0,JADHAV AMMOL VIJAY,BSP,237.0,7.0,2017,25619,0.925095,-349,-1.362270,0,Yes
2455,225,A WARD,61341.0,8.0,SANJAIVANI GULAB GAIKWAD,IND,210.0,8.0,2017,25619,0.819704,-27,-0.105391,0,Yes
2456,225,A WARD,61341.0,7.0,RUPA MAHIPATRAO MANE,IND,150.0,9.0,2017,25619,0.585503,-60,-0.234201,0,Yes

In [ ]:
df.to_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/Mumbai_Result_2017.xlsx", index=False)

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/Mumbai Result 2017_V_1.3 (1).xlsx")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/BMC.xlsx", sheet_name='BMC_with_2023')

In [3]:
df.columns

Index(['WARD', 'WARD OFFICE', 'TOTAL VOTER', 'sr', 'CANIDATE NAME', 'PARTY_v1',
       'PARTY', 'VOTING', 'Rank', 'YEAR', 'ward_votes', 'Percentage_Votes',
       'Vote_Difference', 'Per_Votes_dif_f_winner', 'comapre_winning',
       'bjp_second_shs_first', 'Ind_greater_than_10', 'MNS_greater_than_20'],
      dtype='object')

In [ ]:
df['Ind_greater_than_20'] = np.where((df['WARD'].isin(df.groupby('WARD').filter(lambda x: any((x['PARTY'] == 'IND') & (x['Percentage_Votes'] >= 20)))['WARD'])), 'Yes', 'No')

In [14]:
df.sample(10)

,WARD,WARD OFFICE,TOTAL VOTER,sr,CANIDATE NAME,PARTY_v1,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes,Vote_Difference,Per_Votes_dif_f_winner,comapre_winning,bjp_second_shs_first,Ind_greater_than_10,MNS_greater_than_20,2017_Rank1_Candidate,2017_Corporator
4014,144,NaN,NaN,NaN,ZEBUNISSA SHAKEEL AHMED SIDDIQUI,IND,IND,23.0,20.0,2012,20026,0.114851,-34,-0.169779,1,No,No,Yes,ANITA DINESH PANCHAL,ANITA PANCHAL
5482,63,NaN,NaN,NaN,NaN,4_ NCP,NCP,2027.0,4.0,2007,14751,13.741441,-1175,-7.965562,1,No,Yes,No,RANJANA UJWAL PATIL,RANJANA PATIL
5703,81,NaN,NaN,NaN,NaN,BSP,BSP,0.0,8.0,2007,16868,0.000000,0,0.000000,1,No,No,Yes,MURJI KANJI PATEL,MURJI PATEL
7685,26,NaN,NaN,NaN,NaN,RPI,RPI,0.0,0.0,-,0,0.000000,0,0.000000,0,No,No,No,PREETAM GAUTAM PANDAGLE,PREETAM PANDAGLE
429,45,P NORTH WARD,54808.0,1.0,RAMNARAYAN AMTHARAM BAROT,2_ BJP,BJP,16407.0,1.0,2017,25895,63.359722,0,0.000000,0,No,No,Yes,RAMNARAYAN AMTHARAM BAROT,RAMNARAYAN BAROT
4359,179,NaN,NaN,NaN,Jyotsna Harjivan Parmar,SP,SP,8028.0,1.0,2012,19726,40.697557,0,0.000000,0,No,No,No,SUFIYANNIYAZAHMEDVANU,SUFIYANNIYAZAHMEDVANU SUFIYANNIYAZAHMEDVANU
6684,161,NaN,NaN,NaN,NaN,SP,SP,2783.0,3.0,2007,31018,8.972210,0,0.000000,0,Yes,No,Yes,Shinde Vijayendra Onkar,Shinde Onkar
9918,219,NaN,NaN,NaN,NaN,ABS,ABS,0.0,0.0,-,0,0.000000,0,0.000000,0,No,Yes,No,JYOTSNA DEVESH MEHTA,JYOTSNA MEHTA
2432,222,C WARD,54602.0,5.0,CHANDRAKALA RADHESHYAM CHOUDHARY,4_ NCP,NCP,490.0,6.0,2017,25058,1.955463,-162,-0.646500,0,No,No,Yes,RITA BHARAT MAKWANA,RITA MAKWANA
9750,205,NaN,NaN,NaN,NaN,Other,Other,0.0,0.0,-,0,0.000000,0,0.000000,0,No,No,Yes,DATTARAMRAMBHAUPONGADE,DATTARAMRAMBHAUPONGADE DATTARAMRAMBHAUPONGADE

In [ ]:
df['MNS_greater_than_20'] = np.where((df['WARD'].isin(df.groupby('WARD').filter(lambda x: any((x['PARTY'] == 'MNS') & (x['Percentage_Votes'] >= 20)))['WARD'])), 'Yes', 'No')

In [ ]:
df['bjp_second_shs_first'] = np.where((df['WARD'].isin(df.groupby('WARD').filter(lambda x: any((x['PARTY'] == 'SHS') & (x['Rank'] == 1)) and any((x['PARTY'] == 'BJP') & (x['Rank'] == 2)))['WARD'])), 'Yes', 'No')

In [30]:
df.to_excel("/content/drive/MyDrive/political analysis/Data Analysis/BMC/BMC_with_2023.xlsx", index=False)

In [5]:
# Filter the DataFrame for the 2017 election and rank 1
rank_1_2017 = df[(df['YEAR'] == 2017) & (df['Rank'] == 1)]

In [9]:
ward_candidate_dict

{1: 'TEJASVEE ABHISHEK GHOSALKAR',
 2: 'JAGDISH KARUNASHANKAR OZA',
 3: 'BALKRISHNA JAYSING BRID',
 4: 'SUJATA UDESH PATEKAR',
 5: 'SANJAY SHANKAR GHADI',
 6: 'HARSHAD PRAKASH KARKAR',
 7: 'SHEETAL MUKESH MHATRE',
 8: 'HARISH RAVJI CHHEDA',
 9: 'MOHAN RAMCHANDRA MITHBAVKAR',
 10: 'JITENDRA AMBALAL PATEL',
 11: 'RIDDHI BHASKAR KHURSANGE',
 12: 'GEETA SANJAY SINGHAN',
 13: 'VIDYARTHI BALISTER SINGH',
 14: 'ASAWARI ANIL PATIL',
 15: 'PRAVIN RIKHAVCHAND SHAH',
 16: 'ANJALI ARUN KHEDKAR',
 17: 'BINA PARESH DOSHI',
 18: 'SANDHYA VIPUL DOSHI',
 19: 'SHUBHADA SUBHASH GUDEKAR',
 20: 'DEEPAK PARSHURAM TAWDE',
 21: 'SHAILAJA VIJAY GIRKAR',
 22: 'PRIYANKA PRAFULL MORE',
 23: 'SHIVKUMAR BASUKINATH JHA',
 24: 'SUNITA RAMNAGINA YADAV',
 25: 'NOTA',
 26: 'PREETAM GAUTAM PANDAGLE',
 27: 'SHRADDHASHRIDHARJADHAV',
 28: 'RAJPATI BARGUN YADAV',
 29: 'SAGAR RAMESH SINGH',
 30: 'LEENA RAJESH DEHERKAR',
 31: 'KAMLESH SHOBHNATH YADAV',
 32: 'STEFFIE MORRIS KINNY',
 33: 'MADHURI YOGESH BHOIR',
 34: 'QUMARJAHAN MOHAMMEDMOEEN SIDDIQUI',
 35: 'SEJAL PRASHANT DESAI',
 36: 'DAKSHA JAGDISH PATEL',
 37: 'PRATIBHA HEMANT SHINDE',
 38: 'ATMARAM LAXMAN CHACHE',
 39: 'VINAYA VISHNU SAWANT',
 40: 'SUHAS CHANDRAKANT WADKAR',
 41: 'TULSHIRAM DHONDIBA SHINDE',
 42: 'DHANSHREE VAIBHAVB BHARADKAR',
 43: 'VINOD UDAYNARAYAN MISHRA',
 44: 'SANGEETA GYANMURTI SHARMA',
 45: 'RAMNARAYAN AMTHARAM BAROT',
 46: 'YOGITA SUNIL KOLI',
 47: 'JAYA SATNAMSINGH TIWANA',
 48: 'SALMA SALIM ALMELKAR',
 49: 'SANGEETA SANJAY SUTAR',
 50: 'DEEPAK JAIPRAKASH THAKUR',
 51: 'SWAPNIL MOHAN TEMBWALKAR',
 52: 'PRITI MANOJ SATAM',
 53: 'REKHA DADASAHEB RAMVANSHI',
 54: 'SADHANA SADASHIV MANE',
 55: 'HARSH BHARGAV PATEL',
 56: 'RAJUL SAMEER DESAI',
 57: 'SRIKALA RAMCHANDRAN PILLAI',
 58: 'SANDEEP DILIP PATEL',
 59: 'PRATIMA SHAILESH KHOPADE',
 60: 'YOGIRAJ NARAYANRAO DABHADKAR',
 61: 'RAJUL SURESH PATEL',
 62: 'CHANGEZ JAMAL MULTANI',
 63: 'RANJANA UJWAL PATIL',
 64: 'SHAHEDA HAROONRASHID KHAN',
 65: 'ALPA ASHOK JADHAV',
 66: 'MEHER MOHSIN HYDER',
 67: 'SUDHA SHAMBHUNATH SINGH',
 68: 'ROHAN SHASHINDRA RATHOD',
 69: 'RENU KISHORILAL BHASIN',
 70: 'SUNITA RAJESH MEHTA',
 71: 'ANEESH NAVAL MAKWAANEY',
 72: 'PANKAJ SHOBHNATH YADAV',
 73: 'PRAVIN GAJANAN SHINDE',
 74: 'UJWALA SHRIKRUSHNA MODAK',
 75: 'PRIYANKA PRAMOD SAWANT',
 76: 'KESHARBEN MURJI PATEL',
 77: 'ANANT BHIKU NAR',
 78: 'NAZIYA ABDULJABBAR SOFI',
 79: 'SADANAND WAMAN PARAB',
 80: 'SUNIL LALANPRASAD YADAV',
 81: 'MURJI KANJI PATEL',
 82: 'JAGDISH KUTTY AMIN',
 83: 'WINNIFRED BAPTIST DSOUZA',
 84: 'ABHIJIT GANPAT SAMANT',
 85: 'JYOTI PARAG ALAVANI',
 86: 'SUSHMA KAMLESH RAI',
 87: 'VISHWANATH PANDURANG MAHADESHWAR',
 88: 'SADANAND GAJANAN PARAB',
 89: 'DINESH KASHIRAM KUBAL',
 90: 'TULIP BRIAN MIRANDA',
 91: 'SAGUN VASANT NAI',
 92: 'GULNAZ MDSALIM QURESHI',
 93: 'ROHINI YOGESH KAMBLE',
 94: 'PRADNYA DEEPAK BHUTKAR',
 95: 'CHANDRASHEKHAR VASUDEO WAINGANKAR',
 96: 'MOHAMMEDHALIM MOHAMMEDSHAMIM KHAN',
 97: 'HETAL VIMAL GALA',
 98: 'ALKA SUBHASH KERKAR',
 99: 'SANJAY GULABRAO AGALDARE',
 100: 'SWAPNA VIRENDRA MHATRE',
 101: 'ASIF AHMED ZAKARIA',
 102: 'MUMTAZ RAHEBAR KHAN',
 103: 'MANOJ KISHORBHAI KOTAK',
 104: 'PRAKASH KASHINATH GANGADHARE',
 105: 'RAJANI NARESH KENI',
 106: 'PRABHAKAR TUKARAM SHINDE',
 107: 'SAMITA VINOD KAMBLE',
 108: 'NEIL KIRTI SOMAIYA',
 109: 'DEEPALI DEEPAK GOSAVI',
 110: 'ASHA SURESH KOPARKAR',
 111: 'Sarika Mangesh Pawar',
 112: 'Sakshi Deepak Dalvi',
 113: 'Deepmala Baban Badhe',
 114: 'Ramesh Gajanan Korgaonkar',
 115: 'UMESH SUBHASH MANE',
 116: 'PRAMILA KAMLAKAR PATIL',
 117: 'SUVARNA SAHADEV KARANJE',
 118: 'UPENDRA DATTARAM SAWANT',
 119: 'MANISHA HARISHCHANDRA RAHATE',
 120: 'RAJRAJESHWARI ANIL REDKAR',
 121: 'CHANDRVATI SHIVAJI MORE',
 122: 'VAISHALI SHRIKANT PATIL',
 123: 'SNEHAL SUNIL MORE',
 124: 'Jyoti Harun Khan',
 125: 'Rupali Suresh Awale',
 126: 'ARCHANA SANJAY BHALERAO',
 127: 'TUKARAM KRISHNA PATIL',
 128: 'ASHWINI DEEPAK HANDE',
 129: 'Suryakant Jayhari Gawali',
 130: 'BINDU CHETAN TRIVEDI',
 132: 'PARAG KISHOR SHAH',
 133: 'Parmeshwar Tukaram Kadam',
 134: 'SHAERA SHAFAHAD KHAN',
 135: 'SAMIKSHA DEEPAK SAKRE',
 136: 'RUKHSANA NAZIM SIDDIQUI',
 137: 'AYESHA RAFIQUE SHAIKH',
 138: 'AYESHABANO AINMOHAMMED KHAN',
 139: 'AKHTER ABDULRAJJAK QURESHI',
 140: 'NADIYA MOHSIN SHAIKH',
 141: 'VITTHAL GOVIND LOKARE',
 142: 'VAISHALI NAVIN SHEWALE',
 143: 'RUTUJA RHADAYANATH TARI',
 144: 'ANITA DINESH PANCHAL',
 145: 'SHAHNAWAZ SARFARAZHUSSAIN SHAIKH',
 146: 'SAMRIDDHI GANESH KATE',
 147: 'ANJALISANJAYNAIK',
 148: 'NIDHIPRAMODSHINDE',
 149: 'SUSHAM GOPAL SAWANT',
 150: 'SANGEETA CHANDRAKANT HANDORE',
 151: 'RAJESH OMPRAKASH FULWARIA',
 152: 'ASHA SUBHASH MARATHE',
 153: 'Anil Ramchandra Patankar',
 154: 'MAHADEV SHANKAR SHIVGAN',
 155: 'SHRIKANT GOVIND SHETYE',
 156: 'MATEKAR ASHWINI ASHOK',
 157: 'SHETYE AAKANSHA SANJAY',
 158: 'SANGLE CHITRA SOMNATH',
 159: 'More Prakash Devji',
 160: 'LANDGE KIRAN JYOTIRAM',
 161: 'Shinde Vijayendra Onkar',
 162: 'QURESHI WAJID WAHID',
 163: 'LANDE DILIP BHAUSAHEB',
 164: 'BHANDIRGE HARISH KRISHNA',
 165: 'AZMI MOHAMMEDASHRAF MOHAMMEDASLAM',
 166: 'Turde Sanjay Ramchandra',
 167: 'AZMI DILSHADBANU MOHAMMEDASHRAF',
 168: 'Khan Saeeda Arif',
 169: 'MORAJKAR PRAVINA MANISH',
 170: 'Malik AbdulRashidKaptan MohammadIslam',
 171: 'TANDEL SANVEE VIJAY',
 172: 'RAJESHREERAJESHSHIRWADKAR',
 173: 'PRALHADABATHOMBRE',
 174: 'KRISHNAVENIVINODREDDY',
 175: 'MANGESHSHRIDHARSATAMKAR',
 176: 'RAVIKONDURAJA',
 177: 'NEHALAMARSHAH',
 178: 'AMEYARUNGHOLE',
 179: 'SUFIYANNIYAZAHMEDVANU',
 180: 'SMITASHARADGAONKAR',
 181: 'PUSHPAKRISHNAKOLI',
 182: 'Milind Dattaram Vaidya',
 183: 'GANGA KUNAL MANE',
 184: 'BABU SAFAJALLI KHAN',
 185: 'JAGDISH MAKKUNNY THAIVALAPILL',
 186: 'VASANT SHIVRAM NAKASHE',
 187: 'MARIAMMAL KANDASWAMY THEVAR',
 188: 'RESHMABANO MOHAMMADHASIM KHAN',
 189: 'HARSHALA ASHISH MORE',
 190: 'Sheetal Suresh Gambhir',
 191: 'VISHAKHA SHARAD RAUT',
 192: 'PRITI PRAKASH PATANKAR',
 193: 'Hemangi Hareshwar Worlikar',
 194: 'samadhan sadanand sarvankar',
 195: 'Santosh Namdeo Kharat',
 196: 'Ashish Ramnath Chemburkar',
 197: 'DATTARAM SHIVARAM NARVANKAR',
 198: 'SNEHAL SURYAKANT AMBEKAR',
 199: 'Kishori Kishor Pednekar',
 200: 'URMILAULHASPANCHAL',
 201: 'SUPRIYASUNILMORE',
 203: 'SINDHURAVINDRANATHMASURKAR',
 204: 'ANILSADASHIVKOKIL',
 205: 'DATTARAMRAMBHAUPONGADE',
 206: 'SACHINDEVDASPADWAL',
 207: 'SUREKHAROHIDASLOKHANDE',
 208: 'RAMAKANTSAKHARAMRAHATE',
 209: 'YASHWANTKAMLAKARJADHAV',
 210: 'SONAMMANOJJAMSUTKAR',
 211: 'RAISKASAMSHAIKH',
 212: 'GEETAAJAYGAVLI',
 213: 'JAVEDIBRAHIMJUNEJA',
 214: 'SARITA AJAY PATIL',
 215: 'ARUNDHATI ARVIND DUDHWADKAR',
 216: 'RAJENDRA DATTATRAYA NARWANKAR',
 217: 'MINAL RUCHIT PATEL',
 218: 'ANURADHA VIJAY POTDAR',
 219: 'JYOTSNA DEVESH MEHTA',
 220: 'SURENDRA RAMKRISHNA BAGALKAR',
 221: 'AKASH RAJ PUROHIT',
 222: 'RITA BHARAT MAKWANA',
 223: 'NIKITA DNYANRAJ NIKAM',
 224: 'AFREEN JAVED SHAIKH',
 225: 'SUJATA SANAP DIGVIJAY',
 226: 'HARSHITA ASHWIN NARWEKAR',
 227: 'MAKARAND SURESH NARWEKAR',
 '223(131)': 'Rakhee Harishchandra Jadhav'}

In [8]:
# Create a dictionary mapping Ward to the candidate name
ward_candidate_dict = dict(zip(rank_1_2017['WARD'], rank_1_2017['CANIDATE NAME']))

In [11]:

# Create a new column '2017_Rank1_Candidate' by mapping the ward to the candidate name
df['2017_Rank1_Candidate'] = df['WARD'].map(ward_candidate_dict)

In [29]:

# Split the full name into first name and last name
df['First_Name'] = df['2017_Rank1_Candidate'].str.split().str[0]
df['First_Name']= df['First_Name'].astype(str)

df['First_Name']= df['First_Name'].apply(lambda x: x.capitalize())

df['Last_Name'] = df['2017_Rank1_Candidate'].str.split().str[-1]
df['Last_Name']= df['Last_Name'].astype(str)

df['Last_Name']= df['Last_Name'].apply(lambda x: x.capitalize())
# Combine first name and last name with a space separator

df['2017_Corporator'] = df['First_Name'] + ' ' + df['Last_Name']

# Drop the 'First_Name' and 'Last_Name' columns if needed
df = df.drop(['First_Name', 'Last_Name'], axis=1)

In [22]:
df['2017_Corporator']= df['2017_Corporator'].astype(str)

In [25]:
df

,WARD,WARD OFFICE,TOTAL VOTER,sr,CANIDATE NAME,PARTY_v1,PARTY,VOTING,Rank,YEAR,ward_votes,Percentage_Votes,Vote_Difference,Per_Votes_dif_f_winner,comapre_winning,bjp_second_shs_first,Ind_greater_than_10,MNS_greater_than_20,2017_Rank1_Candidate,2017_Corporator
0,1,R NORTH WARD,24793.0,1.0,TEJASVEE ABHISHEK GHOSALKAR,1_SHS,SHS,4913.0,1.0,2017,14445,34.011769,0,0.000000,0,No,Yes,Yes,TEJASVEE ABHISHEK GHOSALKAR,Tejasvee ghosalkar
1,1,R NORTH WARD,24793.0,2.0,REKHA RAMPRAKASH YADAV,IND,IND,3089.0,2.0,2017,14445,21.384562,-1824,-12.627207,0,No,Yes,Yes,TEJASVEE ABHISHEK GHOSALKAR,Tejasvee ghosalkar
2,1,R NORTH WARD,24793.0,3.0,SHEETAL ASHOK MHATRE,IND,IND,2719.0,3.0,2017,14445,18.823122,-370,-2.561440,0,No,Yes,Yes,TEJASVEE ABHISHEK GHOSALKAR,Tejasvee ghosalkar
3,1,R NORTH WARD,24793.0,4.0,SUCHI DINBANDHU YADAV,2_ BJP,BJP,2584.0,4.0,2017,14445,17.888543,-135,-0.934579,0,No,Yes,Yes,TEJASVEE ABHISHEK GHOSALKAR,Tejasvee ghosalkar
4,1,R NORTH WARD,24793.0,5.0,KIRAN RAMPRATAP CHAUDHARY,IND,IND,283.0,5.0,2017,14445,1.959155,-2301,-15.929387,0,No,Yes,Yes,TEJASVEE ABHISHEK GHOSALKAR,Tejasvee ghosalkar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10010,227,NaN,NaN,NaN,NaN,SP,SP,0.0,0.0,-,0,0.000000,0,0.000000,0,No,Yes,No,MAKARAND SURESH NARWEKAR,Makarand narwekar
10011,227,NaN,NaN,NaN,NaN,2_ BJP,BJP,0.0,0.0,-,0,0.000000,0,0.000000,0,No,Yes,No,MAKARAND SURESH NARWEKAR,Makarand narwekar
10012,227,NaN,NaN,NaN,NaN,IND,IND,0.0,0.0,-,0,0.000000,0,0.000000,0,No,Yes,No,MAKARAND SURESH NARWEKAR,Makarand narwekar
10013,227,NaN,NaN,NaN,NaN,RPI,RPI,0.0,0.0,-,0,0.000000,0,0.000000,0,No,Yes,No,MAKARAND SURESH NARWEKAR,Makarand narwekar
10014,227,NaN,NaN,NaN,NaN,Other,Other,0.0,0.0,-,0,0.000000,0,0.000000,0,No,Yes,No,MAKARAND SURESH NARWEKAR,Makarand narwekar

In [24]:
df['2017_Corporator']= df['2017_Corporator'].apply(lambda x: x.capitalize())